<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Collect User Info</title>
</head>
<body>
<form th:action="@{/submitForm}" th:object="${user}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" th:field="*{name}" />

  <label for="age">Age:</label>
  <input type="number" id="age" name="age" th:field="*{age}" />

  <label for="job">Job:</label>
  <input type="text" id="job" name="job" th:field="*{job}" />

  <button type="submit">Submit</button>
</form>
</body>
</html>
