<form id="form" class="form-horizontal">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="name" required minlength="2" maxlength="30">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" ng-model="age" required min="18" max="30">
  </div>
  <div class="form-group">
    <label for="job">Job Position</label>
    <input type="text" class="form-control" id="job" ng-model="field" required minlength="5" maxlength="40">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
